<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Удаление клиента</title>
</h:head>
<h:body>
    <h3>Удаление по id</h3>
    <h:form id="deleteUserForm">
        <h:outputLabel value="Введите id записи: "/>
        <h:inputText value="#{clientBean.id}"/> <br/>
        <h:commandButton value="Удалить" action="#{clientBean.deleteUser}"/>
        <h:commandButton value="Вернуться на главную" action="index"/>

    </h:form>
</h:body>
</html>