<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Поиск клиента</title>
</h:head>
<h:body>
    <h3>Поиск клиента</h3>
    <h:form id="findClientForm">
        <h:outputLabel value="Введите id записи: "/>
        <h:inputText value="#{clientBean.id}"/> <br/>
        <h:commandButton value="Найти" action="#{clientBean.findAllUsers}">
            <f:ajax execute="findClientForm" render="clientTable" />
        </h:commandButton>
        <h:commandButton value="Вернуться на главную" action="index"/>
    </h:form>
    <h:panelGroup id="clientTable">
        <h:dataTable value="#{clientBean.clients}" var="client">
            <h:column>
                <f:facet name="header">Имя</f:facet>
                #{client.clientFirstname}
            </h:column>

            <h:column>
                <f:facet name="header">Фамилия</f:facet>
                #{client.clientSecondname}
            </h:column>

            <h:column>
                <f:facet name="header">Отчество</f:facet>
                #{client.clientLastname}
            </h:column>
        </h:dataTable>
    </h:panelGroup>
</h:body>
</html>