<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Главная</title>
</h:head>
<h:body>
	<h3>Главная</h3>
	<h:form id="allRequests">
		<h:outputLabel value="Выберите действие"/><br/>
		<h:commandButton value="Создать клиента" action="save"/>
		<h:commandButton value="Обновить запись клиента" action="update"/>
		<h:commandButton value="Удалить запись клиента" action="delete"/>
		<h:commandButton value="Найти запись" action="find"/>
	</h:form>
</h:body>
</html>