<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Новый клиент</title>
</h:head>
<h:body>
    <h3>Клиент (новый)</h3>
    <h:form id="userForm">
        <h:outputLabel value="Имя: " />
        <h:inputText value="#{clientBean.clientFirstname}"/> <br/>
        <h:outputLabel value="Фамилия: " />
        <h:inputText value="#{clientBean.clientSecondname}"/> <br/>
        <h:outputLabel value="Отчество: " />
        <h:inputText value="#{clientBean.clientLastname}"/> <br/>
        <h:outputLabel value="Пол: " />
        <h:inputText value="#{clientBean.clientSex}"/> <br/>
        <h:outputLabel value="Место рождения: " />
        <h:inputText value="#{clientBean.clientBirthplace}"/> <br/>
        <h:commandButton value="Сохранить" action="#{clientBean.saveUser}"/>
    </h:form>
</h:body>
</html>