<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Обновление клиента</title>
</h:head>
<h:body>
    <h3>Обновление клиента</h3>
    <h:form id="findUserForm">
        <h:outputLabel value="Введите id записи: "/>
        <h:inputText value="#{clientBean.id}"/> <br/>
        <h:commandButton value="Найти" action="#{clientBean.findUser}">
            <f:ajax execute="findUserForm" render="updateUserForm"/>
        </h:commandButton>
    </h:form>
    <h3>Изменить данные</h3>
    <h:form id="updateUserForm">
        <h:inputHidden value="#{clientBean.id}"/>
        <h:outputLabel value="Имя: "/>
        <h:inputText value="#{clientBean.clientFirstname}"/> <br/>
        <h:outputLabel value="Фамилия: "/>
        <h:inputText value="#{clientBean.clientSecondname}"/> <br/>
        <h:outputLabel value="Отчество: "/>
        <h:inputText value="#{clientBean.clientLastname}"/> <br/>
        <h:outputLabel value="Пол: "/>
        <h:inputText value="#{clientBean.clientSex}"/> <br/>
        <h:outputLabel value="Место рождения: "/>
        <h:inputText value="#{clientBean.clientBirthplace}"/> <br/>
        <h:commandButton value="Сохранить" action="#{clientBean.updateUser}"/>
    </h:form>
</h:body>
</html>